<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script></script>
</head>

<body>

    <h1>{{nome}}</h1>
    <form>

        <input id="inputname" type="text" name="nome" onkeyup="linker()">

    </form>

    {% if nome != '' %}
    <ul>
        {% for i in lista_templ %}
        <li> {{i[0].upper() +' = '+i.capitalize()}}</li>

        {% endfor %}
    </ul>
    {% endif %}


    <script>
        function linker(e) {
            if (e.KeyCode == 13) {
                name = document.getElementById("inputname");
                name = name.value;
                location.replace(string(name));
            }

        }

    </script>
</body>

</html>